<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
</head>
<body>
<form id="login" name="login" action="/login" method="post">
  帐号：<input type="text" id="username" name="username"><br>
  密码：<input type="password" id="password" name="password"><br>
  <input type="submit" value="登录">
</form>
</body>
</html>